#copyBar{
	position: flex;
	border-style: solid;
	border-color: #28B463;
	border-width: 5px;
	border-radius: 50px;
	width: 50%;
	margin: 8% auto;
	background-color: #808B96;
}

#copyBar button, #copyBar input{
	border-style: none;
	background-color: Transparent;
	cursor:pointer;
    overflow: hidden;
	color:  white;
	font-size: 50px;
	outline:none;
}

#dsLink{
	text-align: center;
	width:75%;
	overflow: hidden;
}

#copySubmit{
	overflow: hidden;
	text-align: center;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	background-color: #58D68D;
	width: 25%;
}

#copiedBarre{
	opacity: 0.8;
	height: 30px;
	width: 100%;
	position: fixed;
	display: none;
	top:0;
	z-index: 101;
	background-color: green;
	color: white;
	text-align: center;
	font-family: 'trebuchet ms';
	font-size: 25px;
	animation: 10s 1 copiedBarre ease-in;
}

@keyframes copiedBarre{
	0%{top: -30px; display: block; opacity: 0;}
	20%{top: 0; opacity: 0.8;}
	80%{top: 0; opacity: 0.8;}
	100%{top:-30px; display: none; opacity: 0;}
}