#rejoindre{
	background-color: #283747;
	height: 600px;
	width: 100%;
	margin-top: 1080px;
	z-index:98;
	opacity: 0.9
}



/* @media screen and (max-width: 1720px){ */
	/* #rejoindre{ */
		/* display: fixed; */
		/* z-index: 2; */
		/* background-color: #283747; */
		/* height: 600px; */
		/* width: 100%; */
		/* margin-top: 980px; */
		/* z-index:98; */
		/* opacity: 0.9 */
	/* } */
/* } */

/* @media screen and (max-width: 1520px){ */
	/* #rejoindre{ */
		/* display: fixed; */
		/* z-index: 2; */
		/* background-color: #283747; */
		/* height: 600px; */
		/* width: 100%; */
		/* margin-top: 880px; */
		/* z-index:98; */
		/* opacity: 0.9 */
	/* } */
/* } */

/* @media screen and (max-width: 1320px){ */
	/* #rejoindre{ */
		/* display: fixed; */
		/* z-index: 2; */
		/* background-color: #283747; */
		/* height: 600px; */
		/* width: 100%; */
		/* margin-top: 780px; */
		/* z-index:98; */
		/* opacity: 0.9 */
	/* } */
/* } */

/* @media screen and (max-width: 1120px){ */
	/* #rejoindre{ */
		/* display: fixed; */
		/* z-index: 2; */
		/* background-color: #283747; */
		/* height: 600px; */
		/* width: 100%; */
		/* margin-top: 680px; */
		/* z-index:98; */
		/* opacity: 0.9 */
	/* } */
/* } */

/* @media screen and (max-width: 920px){ */
	/* #rejoindre{ */
		/* display: fixed; */
		/* z-index: 2; */
		/* background-color: #283747; */
		/* height: 600px; */
		/* width: 100%; */
		/* margin-top: 580px; */
		/* z-index:98; */
		/* opacity: 0.9 */
	/* } */
/* } */


#Title-rejoindre{
	text-align: center;
	color: white;
	font-family: Sketch;
	font-size: 100px;
}

@media screen and (max-width: 1256px){
	#Title-rejoindre{
		text-align: center;
		color: white;
		font-family: Sketch;
		font-size: 90px;
	}
}

@media screen and (max-width: 1130px){
	#Title-rejoindre{
		text-align: center;
		color: white;
		font-family: Sketch;
		font-size: 80px;
	}
}

@media screen and (max-width: 1005px){
	#Title-rejoindre{
		text-align: center;
		color: white;
		font-family: Sketch;
		font-size: 70px;
	}
}